.App {
  text-align: center;
  /* padding-left: 5em;
  padding-right: 5em;
  background-color:  rgb(148, 0, 0); */
}

.App-header {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.Movie-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Logo-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -3em;
    margin-bottom: -7em;
}

.Movie-wrapper {
    width: 500px;
    background-color: rgb(148, 0, 0);
    color: #ffffff;
}

.Movie-search {
    height: 48px;
    font-size: 24px;
    margin-bottom: 32px;
    padding: 16px;
    font-weight: bold;
    width: 475px;
}

.Movie-title {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.Movie-date {
    margin-top: 26px;
    font-style: italic;
    font-size: 25px;
}

.Movie-rate {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 24px;
    color: gold;
}

